<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>INVENTORY | Easy Inventory Management</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/'+'main.css')}}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/fontawesome/4.7.0/css/fontawesome.min.css">
</head>
<body>
	<div class="header">

		<div class="container">
			<div class="navbar" style="background: #FFF6D6;">
				<div class="logo">
					<a href="{{url_for('homePage')}}"><img src="{{url_for('static', filename='images/layout/'+'lg1s.png')}}"width="150px"></a>
				</div>
			</div>	
		</div>
	</div>

