{% extends 'layout.html' %}

{% include 'adminNavbar.html' %}

{% block content %}


<div class="container mt-5">

	<article class="media content-section">
	    <div class="media-body">
	      <div class="article-metadata">
	      </div>
	      <h1>{{location.name}}</h1>
	      <h3>{{location.address}}</h3>
	      <h4>Supervisor: {{location.email}}</h4>
	      <h4>Distance(in km): {{distance}}</h4>
	      <h4>Days taken for Movement: {{days}}</h4>
	    </div>
	</article>

	<br>

		<h2>Movement - To {{location.name}}</h2>
		<table class="table table-sm table-condensed table-striped">
			<thead>
				<th>From</th>
				<th>Product</th>
				<th>Units</th>
				<th>Time</th>
			</thead>
			<tbody>
				{% for l in lmt %}
				<tr>
					<td>{{l.from_location.name}}</td>
					<td>{{l.product.name}}</td>
					<td>{{l.quantity}}</td>
					<td>{{l.curr_time}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<br>
		<br>

		<h2>Movement - From {{location.name}}</h2>
		<table class="table table-sm table-condensed table-striped">
			<thead>
				<th>To</th>
				<th>Product</th>
				<th>Units</th>
				<th>Time</th>
			</thead>
			<tbody>
				{% for l in lmf %}
				<tr>
					<td>{{l.to_location.name}}</td>
					<td>{{l.product.name}}</td>
					<td>{{l.quantity}}</td>
					<td>{{l.curr_time}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock content %}