{% extends 'layout.html' %}

{% include 'navbarEntry.html' %}

{% block content %}


<style>
    .btn{
        border-color: #ff523b;
        color: #000;
        font-family: Poppins;
        border-radius: 30px;
    }
    .btn:hover{
        background: #000;
    }
    h4{
        font-family: Poppins;
    }
    label, small{
        font-family: Poppins;
    }
</style>

<div class="account-page">
        <div class="container">
            {% from "_formhelpers.html" import render_field %}
            <div class="row">
                <div class="col-2">
                    <h4 style="margin-left: 50px;">Not Admin?</h4>
                    <a href="{{url_for('Locationlogin')}}" class="btn btn-outline-success" style="margin-left: 50px;">Head to Location Login &#8594;</a>
                    <h4 style="margin-left: 50px;">Not Registered?</h4>
                    <a href="{{url_for('register')}}" class="btn btn-outline-success" style="margin-left: 50px;">Head To Register Admin &#8594;</a>

                </div>    
                <form method="post">
                    {{form.csrf_token}}
                    <h4>Admin Login</h4>
                        {{ render_field(form.email, class="form-control") }}
                        {{ render_field(form.password, class="form-control") }}
                      <button type="submit" value="login" class="btn btn-outline-primary">Login</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}


