{% extends 'layout.html' %}

{% include 'navbar.html' %}

{% block content %}	
	
	<div class="container mt-5">
		<h2>Your Orders</h2>
		<table class="table table-sm table-condensed table-striped">
			<thead>
				<th>Sr No.</th>
				<th>Invoice</th>
				<th>Status</th>
				<th>Date</th>
				<th>Orders</th>
			</thead>
			<tbody>
				{% for order in LocationOrders %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{order.invoice}}</td>
					<td>{{order.status}}</td>
					<td>{{order.date_created}}</td>
					<td><a href="{{url_for('viewMyOrder', invoice=order.invoice)}}" >View Order</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
{% endblock content %}
