{% extends 'layout.html' %}

{% include 'navbar.html' %}

{% block content %}

	
	<div class="container mt-5">
		<h2>Status</h2>
		<form action="{{url_for('statusPdf')}}" method="post">
            <button type="submit" class="btn btn-sm btn-outline-success" style="border-radius: 30px; font-family: Poppins;">Download Status</button>
        </form>
		
		<br>
		
		<legend class="border-bottom mb-4">Detailed Stock Status</legend>
			<table class="table table-sm table-condensed table-striped">
				<thead>
					<th>Product</th>
					<th>Quantity</th>
				</thead>
				<tbody>
					{% for row in status_list %}
					<tr>
	            		<td>{{row.product}}</td>
	            		<td>{{row.quantity}}</td>
	        		</tr>
					{% endfor %}
				</tbody>
			</table>
	


	<div class="container">
    	<legend class="border-bottom mb-4">Location wise Interaction</legend>
    		<div class="container" align="left">
					<embed type="image/svg+xml;base64" src={{line_chart|safe}} style='max-width:800px;'/>
	  		</div>
    </div>  

    <br>

{% endblock content %}
